<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="client_id" value="e7044eb3-8ddf-4bc2-ade5-ffcfe3f49e85" />
    <add key="client_secret" value="N-T8Q~scIfi2QQAtFMUUVH6GkraE_S7511qEAakH" />
    <add key="tenant" value="170f95e3-de76-4073-8222-7574715537b5" />
  </appSettings>
</configuration>